@font-face {
    font-family: 'Satoshi-Regular';
    src: url("../assets/fonts/Satoshi-Regular.otf");
}
@font-face {
    font-family: "Satoshi-Medium";
    src: url("../assets/fonts/Satoshi-Medium.otf");
}
@font-face {
    font-family: "Satoshi-Bold";
    src: url("../assets/fonts/Satoshi-Bold.otf");
}
@font-face {
    font-family: "Satoshi-Light";
    src: url("../assets/fonts/Satoshi-Light.otf");
}