.hero-section{
    height: 100vh;
    position: relative;
    width: 100%;
}
.hero-section .hero-slide-moja{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      transition: clip 0.8s ease-in-out;
      -webkit-transition: clip 0.8s ease-in-out;
      -moz-transition: clip 0.8s ease-in-out;
      -ms-transition: clip 0.8s ease-in-out;
      -o-transition: clip 0.8s ease-in-out;
      clip: rect(0, 100vw, 100vh, 100vw);
      padding-top: 6rem;
}

.hero-slide-moja:nth-child(1){
       background: linear-gradient(to right, rgba(0, 30, 7, 0.6), transparent), url('../assets/hero1.jpg');
       background-size: cover;
       background-position: center;
}
.hero-slide-moja:nth-child(2){
    background: linear-gradient(to right, rgba(0, 30, 7, 0.6), transparent), url('../assets/hero2.jpg');
    background-size: cover;
    background-position: center;
}
.hero-slide-moja:nth-child(3){
    background:linear-gradient(to right, rgba(0, 30, 7, 0.6), transparent),  url('../assets/hero3.jpg');
    background-size: cover;
    background-position: center;
}

.hero-slide-moja.active{
    z-index: 1;
    clip: rect(0, 100vw, 100vh, 0);
}
.hero-slide-moja.prev {
    clip: rect(0, 0, 100vh, 0);
}

.hero-slide-texts{
      width: 700px;
      color: whitesmoke;
}
.hero-slide-texts h3{
       text-transform: uppercase;
       font-size: 18px;
       display: flex;
       align-items: center;
       gap: 5px;;
}
.hero-slide-texts h1{
    font-family: var(--bold-font);
    font-size: 5.75rem;
    font-weight: 600;
    line-height: 6.25rem;
    margin-bottom: 20px;
}
.hero-slide-texts p{
     font-size: 18px;
     line-height: 32px;
}

.action-btn a{
      width: 180px;
      display: flex;
      height: 55px;
      justify-content: center;
      align-items: center;
      font-family: var(--medium-font);
      background: var(--main-color);
      margin-top: 30px;
      border-radius: 55px;
      -webkit-border-radius: 55px;
      -moz-border-radius: 55px;
      -ms-border-radius: 55px;
      -o-border-radius: 55px;
      color: whitesmoke;
}

.hero-slide-texts h1, .hero-slide-texts p, .action-btn a{
       opacity: 0;
       transition: opacity 0.7s 0s, transform 0.5s 0.2s;
       -webkit-transition: opacity 0.7s 0s, transform 0.5s 0.2s;
       -moz-transition: opacity 0.7s 0s, transform 0.5s 0.2s;
       -ms-transition: opacity 0.7s 0s, transform 0.5s 0.2s;
       -o-transition: opacity 0.7s 0s, transform 0.5s 0.2s;
       transform: translate3d(0, 50%, 0);
       -webkit-transform: translate3d(0, 50%, 0);
       -moz-transform: translate3d(0, 50%, 0);
       -ms-transform: translate3d(0, 50%, 0);
       -o-transform: translate3d(0, 50%, 0);
}
.hero-slide-moja.active h1,
.hero-slide-moja.active p,
.hero-slide-moja.active .action-btn a{
       opacity: 1;
       transition-delay: 1s;
       transform: translate3d(0, 0, 0);
       -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
       -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
}

/* About Section Styles */
.about-section{
    padding: 120px 0 90px 0;
    background-color: white;
}

.pillars-section{
       display: grid;
       width: 1200px;
       margin: auto;
       grid-template-columns: repeat(4, 1fr);
       gap: 30px;
       background: var(--main-color);
       padding: 30px;
       border-radius: 30px;
       -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
       -ms-border-radius: 30px;
       -o-border-radius: 30px;
       margin-bottom: 80px;
}
.pillar-moja{
       text-align: center;
       padding:30px;
       position: relative;
}
.pillar-moja::before{
       position: absolute;
       content: "";
       width: 1px;
       height: 80px;
       background: rgba(231, 242, 236, 0.4);
       right: 0;
       top: 50%;
       transform: translateY(-50%);
       -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
       -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
}
.pillar-moja:last-child::before{
       display: none;
}
.pillar-moja img{
      width: 60px;
      height: 60px;
}
.pillar-moja h3{
    font-size: 16px;
    color: rgb(239, 255, 247);
    line-height: 30px;
}

.about-intro-part h3{
      font-size: 14px;
      padding: 12px 30px;
      border-radius: 30px;
      background: rgba(177, 244, 202, 0.4);
      display: inline-block;
      color: var(--dark-color);
      margin-bottom: 20px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
}

.about-intro-row{
      display: grid;
      grid-template-columns: 1.6fr 2.5fr 1fr;
      gap: 30px;
}
.about-intro-column h1{
      font-size: 60px;
      font-family: var(--bold-font);
      font-weight: 600;
}
.about-intro-column p{
      font-size: 20px;
      line-height: 35px;
}
.about-intro-column a{
       width: 180px;
       display: flex;
       margin: auto;
       justify-content: center;
       align-items: center;
       border: 2px solid var(--main-color);
       height: 50px;
       color: var(--main-color);
       border-radius: 50px;
       -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
       -ms-border-radius: 50px;
       -o-border-radius: 50px;
       font-family: var(--medium-font);
       position: relative;
       transition: all 0.7s ease;
       -webkit-transition: all 0.7s ease;
       -moz-transition: all 0.7s ease;
       -ms-transition: all 0.7s ease;
       -o-transition: all 0.7s ease;
}
.about-intro-column a:hover{
       background-color: var(--main-color);
       color: whitesmoke;
}

.about-more-description{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 50px;
}

.about-more-moja{
     position: relative;
     height: 420px;
     border-radius:25px ;
     -webkit-border-radius:25px ;
     -moz-border-radius:25px ;
     -ms-border-radius:25px ;
     -o-border-radius:25px ;
     overflow: hidden;
     cursor: pointer;
}
.about-more-moja img{
       position: absolute;
       top: 0;
       width: 100%;
       left: 0;
       height: 100%;
       z-index: 2;
       transition: all 0.5s ease-in-out;
       -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
       -ms-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
}
.about-more-moja:hover img{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
}
.about-more-moja .about-more-texts{
      position: absolute;
      bottom: 0;
      z-index: 5;
      left: 0;
      background: var(--main-color);
      padding: 30px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      color: rgb(239, 239, 239);
      transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transition: all 0.6s ease-in-out;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
}
.about-more-moja:hover .about-more-texts{
       transform: translateY(0);
       -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
       -ms-transform: translateY(0);
       -o-transform: translateY(0);
}
.about-more-texts h4{
      font-size: 24px;
      margin-bottom: 10px;
}
.about-more-texts p{
      font-size: 17px;
      line-height: 30px;
}

/* Achievements Styles */
.achievements-section{
       background: white;
       padding-bottom: 100px;
}

.achievements-content{
       width: 1100px;
       margin: auto;
       padding: 100px 60px;
       background: linear-gradient(to right, rgb(0, 113, 49),rgb(27, 156, 83), rgb(34, 122, 72));
       border-radius: 30px;
       -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
       -ms-border-radius: 30px;
       -o-border-radius: 30px;
       text-align: center;
       position: relative;
}
.achievements-content .intro{
       width: 90%;
       margin: 0px auto 30px auto;
}
.achievements-content .intro h5{
         width: 200px;
         height: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         margin: auto;
         background: rgba(255, 238, 163, 0.4);
         border-radius: 40px;
         -webkit-border-radius: 40px;
         -moz-border-radius: 40px;
         -ms-border-radius: 40px;
         -o-border-radius: 40px;
         margin-bottom: 20px;
         color: whitesmoke;;
         font-family: var(--light-font);
}
.achievements-content .intro h1{
       font-size: 50px;
       font-family: var(--bold-font);
       font-weight: 600;
       color: whitesmoke;
}

.achievements-content .numbers-row{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       width: 90%;
       gap: 50px;
       margin: auto;
       color: whitesmoke;
}
.counter-moja h1{
        font-size: 75px;
        font-weight: 500;
        font-family: var(--bold-font);
}

/* What We Do Styles */
.what-we-do{
    background: var(--dark-color);
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.what-we-do-content .intro{
         width: 800px;
}
.what-we-do-content h4{
       width: 150px;
         height: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         background: rgba(177, 244, 202, 0.493);
         border-radius: 40px;
         -webkit-border-radius: 40px;
         -moz-border-radius: 40px;
         -ms-border-radius: 40px;
         -o-border-radius: 40px;
         margin-bottom: 20px;
         color: whitesmoke;;
         font-family: var(--light-font);
         font-size: 14px;
}

.what-we-do-content h1{
        font-size: 65px;
        font-family: var(--bold-font);
        font-weight: 600;
        color: whitesmoke;;
        margin-bottom: 20px;
}
.what-we-do-content .intro p{
        font-size: 18px;
        color: whitesmoke;
        line-height: 32px;
}

.what-we-do-content .leafy-abstract{
         width: 400px;
         position: absolute;
         right: 100px;
         top: -150px;
         transform: rotate(-40deg);
         -webkit-transform: rotate(-40deg);
         -moz-transform: rotate(-40deg);
         -ms-transform: rotate(-40deg);
         -o-transform: rotate(-40deg);
}

.what-we-do-row{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        flex-wrap: wrap;
        gap: 30px;
        align-content: center;
}

.what-we-do-row .project-moja{
        width: 400px;
        flex-shrink: 0;
        background:rgba(0, 164, 85, 0.1);
        padding: 40px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        color: rgb(236, 236, 236);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.what-we-do-row .project-moja:hover{
        background: rgba(20, 211, 118, 0.15);
}
.project-moja h3{
         font-size: 24px;
         font-weight: 400;
         margin-bottom: 10px;;
}
.project-moja p{
        line-height: 25px;
        margin-bottom: 10px;
        font-size: 16px;
        font-family: var(--light-font);
}
.project-moja a{
       color: white;
       font-family: var(--medium-font);
       color: var(--main-color)
}