.hero-section{
    height: 100vh;
    position: relative;
    width: 100%;
}
.hero-section .hero-slide-moja{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      transition: clip 0.8s ease-in-out;
      -webkit-transition: clip 0.8s ease-in-out;
      -moz-transition: clip 0.8s ease-in-out;
      -ms-transition: clip 0.8s ease-in-out;
      -o-transition: clip 0.8s ease-in-out;
      clip: rect(0, 100vw, 100vh, 100vw);
      padding-top: 6rem;
}

.hero-slide-moja:nth-child(1){
       background: linear-gradient(to right, rgba(0, 30, 7, 0.6), transparent), url('../assets/hero1.jpg');
       background-size: cover;
       background-position: center;
}
.hero-slide-moja:nth-child(2){
    background: linear-gradient(to right, rgba(0, 30, 7, 0.6), transparent), url('../assets/hero2.jpg');
    background-size: cover;
    background-position: center;
}
.hero-slide-moja:nth-child(3){
    background:linear-gradient(to right, rgba(0, 30, 7, 0.6), transparent),  url('../assets/hero3.jpg');
    background-size: cover;
    background-position: center;
}

.hero-slide-moja.active{
    z-index: 1;
    clip: rect(0, 100vw, 100vh, 0);
}
.hero-slide-moja.prev {
    clip: rect(0, 0, 100vh, 0);
}

.hero-slide-texts{
      width: 700px;
      color: whitesmoke;
}
.hero-slide-texts h3{
       text-transform: uppercase;
       font-size: 18px;
       display: flex;
       align-items: center;
       gap: 5px;;
}
.hero-slide-texts h1{
    font-family: var(--bold-font);
    font-size: 5.75rem;
    font-weight: 600;
    line-height: 6.25rem;
    margin-bottom: 20px;
}
.hero-slide-texts p{
     font-size: 18px;
     line-height: 32px;
}

.action-btn a{
      width: 180px;
      display: flex;
      height: 55px;
      justify-content: center;
      align-items: center;
      font-family: var(--medium-font);
      background: var(--main-color);
      margin-top: 30px;
      border-radius: 55px;
      -webkit-border-radius: 55px;
      -moz-border-radius: 55px;
      -ms-border-radius: 55px;
      -o-border-radius: 55px;
      color: whitesmoke;
}

.hero-slide-texts h1, .hero-slide-texts p, .action-btn a{
       opacity: 0;
       transition: opacity 0.7s 0s, transform 0.5s 0.2s;
       -webkit-transition: opacity 0.7s 0s, transform 0.5s 0.2s;
       -moz-transition: opacity 0.7s 0s, transform 0.5s 0.2s;
       -ms-transition: opacity 0.7s 0s, transform 0.5s 0.2s;
       -o-transition: opacity 0.7s 0s, transform 0.5s 0.2s;
       transform: translate3d(0, 50%, 0);
       -webkit-transform: translate3d(0, 50%, 0);
       -moz-transform: translate3d(0, 50%, 0);
       -ms-transform: translate3d(0, 50%, 0);
       -o-transform: translate3d(0, 50%, 0);
}
.hero-slide-moja.active h1,
.hero-slide-moja.active p,
.hero-slide-moja.active .action-btn a{
       opacity: 1;
       transition-delay: 1s;
       transform: translate3d(0, 0, 0);
       -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
       -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
}

/* About Section Styles */
.about-section{
    padding: 120px 0;
    background-color: white;
}

.pillars-section{
       display: grid;
       width: 1000px;
       margin: auto;
       grid-template-columns: repeat(4, 1fr);
       gap: 30px;
}
.pillar-moja{
       text-align: center;
       padding: 0 20px;
}
.pillar-moja img{
      width: 60px;
      height: 60px;
}
.pillar-moja h3{
    font-size: 17px;
    color: rgb(66, 83, 75);
    line-height: 30px;
}